@import url(root.css);
@import url(nav-footer.css);

.post {
  display: flex;
  flex-direction: column;
  padding: 0 20px;
}

img {
  height: 360px;
  width: 100vw;
}

@media (min-width: 640px) {
  .post {
    padding: 0 35px;
  }
}

@media (min-width: 768px) {
  img {
    height: 400px;
  }

  .post {
    padding: 0 100px;
  }
}

@media (min-width: 1024px) {
  body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  main {
    width: 1024px;
  }

  .post {
    padding: 0 160px;
  }

  img {
    width: 1024px;
  }
}
