@import url(root.css);
@import url(nav-footer.css);

.post {
  display: flex;
  flex-direction: column;
  margin: 0 20px;
}

img {
  height: 360px;
  width: auto;
  object-fit: cover;
}

.post h1 {
  font-size: 40px;
  margin-top: 10px;
}

.post p {
  margin: 0;
}

.blog-post-text {
  margin: 0 20px;
}

@media (min-width: 640px) {
  .post,
  .blog-post-text {
    margin: 0 35px;
  }
}

@media (min-width: 768px) {
  img {
    height: 400px;
  }

  .post,
  .blog-post-text {
    margin: 0 70px;
  }
}

@media (min-width: 1024px) {
  body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  main {
    width: 1024px;
  }

  .post {
    padding: 0;
    margin: 0;
  }

  .post h1 {
    font-size: 48px;
  }

  .blog-post-text {
    margin: 20px;
  }

  img {
    width: 1024px;
  }
}
