@import url(root.css);
@import url(nav-footer.css);
main {
}

.carousel-container {
  display: flex;
  width: 100%;
  gap: 8px;
  overflow: hidden;
}

.carousel {
  display: flex;
  flex-direction: column;
  display: flex;
  flex-direction: column;
}

.carousel-container div {
  padding: 0 8px;
  flex-shrink: 0;
}
